{% extends 'base.html'%}
{% load static %}

{% block body %}
<body> 
    <div  class="border border-success p-2 mb-2">
        
         <h4 class="card-title"><strong>Nuestros objetivos principales son:</strong></h4>
        <p class="card-text">𝅘 Proteger un sector de ambientes naturales para conservar la 
            diversidad de la flora y fauna.</p>
        <p class="card-text">𝅘 Resguardar los hábitats principalmente de las especies que están 
            amenazadas y en peligro de extinción.</p>
        <p class="card-text">𝅘 Realizar un inventario de la totalidad de la masa boscosa para 
            identificar sus plantas y utilidades sin poner en riesgo su evolución y con 
            el menor impacto ambiental.</p>
        <p class="card-text">𝅘 Vincular la Conservación con el Desarrollo Sustentable para generar 
            beneficios mutuos.</p>
        <p class="card-text">𝅘 Facilitar y realizar la tarea de Investigación poniendo a disposición de 
            todos los Instituto Tecnológico el espacio físico y natural para el desarrollo 
            de estudios sistémicos; a los Estudiantes y/o Investigadores la realización 
            de sus tareas de investigación, ya sea tesis, maestrías, saber, conocimiento, etc…</p>
        <p class="card-text">𝅘 La pasión por los hongos…</p>
        <p class="card-text">"...entrar al mundo mágico de los hongos a fin de comprender la 
            profundidad de la Naturaleza, su cuidado y conservación…si pudiera sería 
            un bosque de hongos para salvar nuestra especie humana…" </p>
    </div>
</body>
{% endblock body %}