{% extends 'base.html'%}
{% load static %}

{% block body %}
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'imagenes/hongo1.jpg' %}" class="img-fluid rounded-start" alt="imagen1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Huerta de Hongos
          </h5>
          <p class="card-text">Este proyecto nos permitira crear un lugar donde distintas variedades de hongos puedan crecer en un entorno controlado.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'imagenes/cienpies.jpg' %}" class="img-fluid rounded-start" alt="imagen1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Insectos
          </h5>
          <p class="card-text">Es frecuente que los niños confundan muchos bichos que encontramos en los jardines o en los parques como las arañas, los ciempiés, las garrapatas, o los ciempiés con insectos, cuando no lo son. Este proyecto busca que los niños puedan reconocer con facilidad a los distintos insectos.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'imagenes/riooro.jpg' %}" class="img-fluid rounded-start" alt="imagen1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Estudio e investigacion rio de oro
          </h5>
          <p class="card-text">Estudio de cause del rio y su composicion para garantizar el vienestar del fauna y flora</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'imagenes/visita.jpg' %}" class="img-fluid rounded-start" alt="imagen1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Visitas guiadas
          </h5>
          <p class="card-text">Recepcion y acompañamiento a los distintos grupos escolares y universitarios que llegan a conocer la reserva.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}