{% extends 'base.html'%}
{% load static %}

{% block body %}
<body> 
    <div  class="border border-success p-2 mb-2">
        
         <h4 class="card-title"><strong>Quienes somos:</strong></h4>
        <p class="card-text">𝅘 Encargado/dueño/creador : Pedro Rodolfo Salica(Kchito), DNI N° 
            12242545, argentino, de 64 años de edad.</p>
        <p class="card-text">𝅘 su sueño es ser Conservacionista y Naturalista, su pasión es la Fotografía de la 
            Naturaleza.</p>
      >
    </div>
</body>
{% endblock body %}