{% extends 'base.html'%}
{% load static %}

{% block body %}
<body> 
    <div  class="border border-success p-2 mb-2">
        
         <h4 class="card-title"><strong>Quienes somos:</strong></h4>
        <p class="card-text">𝅘 La reserva nace como un lugar cuyo objetivo principal es <em>la conservación natural</em>, su creador Pedro Rodolfo Salica a sus 64 años fundaba <em>"Senderos"</em>. </p>
        <p class="card-text">𝅘 <em>Senderos</em>, reserva educativa experimental con una pequeña granja auto sustentable, se encuentra ubicada en la Legua 110 Colonia Sur sobre el margen de la Ruta Provincial N 90, 
            10 km antes de  llegar a Gral.  San  Martín, Chaco; es un predio de aproximadamente 19 ha en total, distribuida en 16 ha de masa boscosa bosque nativo con pequeños ambientes de pajonales, pastizales, 
            bosque en galerías y sotobosque y 3 ha destinada a la producción agrícola.</p>
        <p class="card-text">esta comprende toda la masa boscosa muy rica en biodiversidad y pastizales destinados al sector agrícola.</p>
        <p class="card-text">𝅘 Un sueño que de a poco fue tornándose en realidad en el año 2015 por el mes de octubre, hoy día sigue modificándose y adaptandose por y para la naturaleza. </p>
        <p class="card-text">𝅘 En la actualidad se están construyendo un asentamiento principal a orillas del Río de Oro con un Senderos principal "Los Ariscos"culminando así en el mismo. </p>
    </div>
</body>
{% endblock body %}