{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <h5 class="card-header">Posteo</h5>
                <div class="card-body">
                    {{post_form.as_p}}
                    <button type="submit" class="btn btn-success btn-round btm-normal">Guardar</button>
                    <a  class="btn btn-dark btn-round btm-normal">Cancelar</a>
                </div>            

            </div>


        </form>
    </div>  
{% endblock body %}