{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div  class="border border-success p-2 mb-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class=" card text-center mx-auto">
                <h5 class="card-header"><p class="btn btn-outline-success">Posteo</p></h5>
                <div class="card-body">
                    {{post_form.as_p}}
                    <button type="submit" class="btn btn-success btn-round btm-normal">Guardar</button>
                    <a  class="btn btn-success btn-round btn-danger">Cancelar</a>
                </div>            

            </div>


        </form>
    </div>  
{% endblock body %}