{% extends 'base.html' %}
{% load static %}
{% block body %}

<div>
    <div class="form-group">
        <form action="#" method="POST">
            {% csrf_token %}
            <label for="solidSelect">Filtrar por Categoria</label>
            <select class="form-control imput-solid" name="categoria" id="solidSelect">
            {% for categoria in categorias %}
            <option>{{categoria.nombre}}</option>
             {% endfor %}
            </select>
            <input type="date" name="fecha" placeholder="Fecha">
            <button type="submit" class="btn btn-success btn-round btm-normal" >Filtrar</button>
        
        
        </form>


    </div>
   
    {% for post in posteos %}
        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="{{post.imagen.url}}" alt="Imagen">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-mediumbold">{{post.titulo}}</h5>
                <p class="card-text">{{post.resumen}}</p>
                <a href="{% url 'posteo' post.id %}" class="btn btn warning">Leer Post</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}